/*
 *  Fonts
 * ------------------------------------------------------------------------------
 */
/* Khmer Os Battambang */
@font-face {  font-family: "Khmer Os Battambang";font-style: normal;font-weight: 400;src: local("Khmer Os Battambang"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot?#iefix") format("embedded-opentype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff2") format("woff2"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff") format("woff"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.ttf") format("truetype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.svg#svgFontName") format("svg");unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }
/* BayonV8Khmer */
@font-face { font-family: "BayonV8Khmer";font-style: normal;font-weight: 400;src: local("BayonV8Khmer"),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.eot") format('eot'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.svg") format('svg'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.ttf") format('ttf'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff") format('woff'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff2") format('woff2');unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }

/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1a1a1a;
    background: #ffffff;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:997;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:0px;padding-right:0;order:0}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:100%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/* header tag */
h1 { font-size: 24px;font-weight: 900; }
h2 { font-size: 20px;font-weight: 900; }
h3 { font-size: 18px;font-weight: 900; }
h4 { font-size: 16px;font-weight: 900; }
h5 { font-size: 14px;font-weight: 700; }
h6 { font-size: 12px;font-weight: 900; }
/* link */
a, a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
/* list */
ol, ul, dl { padding: 0; }
ul li,ol li{ list-style: none; }
/* form */
textarea:focus, input:focus, button:focus {
    outline: none;
}
/* paragraph */
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.font-28 {
    font-size: 28px;
}

/*
 *  BG Body
 * ------------------------------------------------------------------------------
 */
#particles-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
header {
}
header nav.navbar {
    background-image: linear-gradient(to right, #8b4513, #a55c14, #be7612, #d5910d, #d5910d, #d5910d, #d5910d, #d5910d, #d5910d, #be7612, #a55c14, #8b4513);
    /*background-color: #0b1425 !important;*/
    /*border-top: 1px solid #640000;
    border-bottom: 1px solid #640000;*/
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
header nav.navbar .navbar-toggler {
    border: 0;
    outline: none;
    padding-left: 0;
}
header nav.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarsExampleDefault ul li {
    padding: 15px 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transition: background-color 700ms linear, color 700ms linear;
}
#navbarsExampleDefault ul li:last-child {
    border: 0;
}
#navbarsExampleDefault ul li a.nav-link {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #1a1a1a;
    text-align: left;
    text-transform: uppercase;
    /*text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;*/

    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
#navbarsExampleDefault ul li a.nav-link i,
#navbarsExampleDefault ul li a.nav-link div {
    display: inline-block;
}
/* nav active */
#navbarsExampleDefault ul li:hover {
    text-shadow: 0 0 15px #ffffff,
    0 0 15px #ffffff,
    0 0 15px #ffffff,
    0 0 30px #ffffff;
    transition: all 0.5s ease;
}
#navbarsExampleDefault ul li.active {
    text-shadow: 0 0 15px #ffffff,
    0 0 15px #ffffff,
    0 0 15px #ffffff,
    0 0 30px #ffffff;
}

.search-overlay {
    display: none;
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    background: #202040;
    width:100%;
    height:100%;
}
.search-overlay #close-btn {
    color: rgba(255,255,255,.8);
    text-shadow: none;
    font-size: 48px;
    font-weight: 300;
    opacity: 1;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.search-overlay #close-btn:hover {
    color: #ffffff;
}
.search-overlay .form-btn { margin-top: 20%; }
.search-overlay .form-btn input { height:60px; background: transparent; font-size: 24px; color: rgba(255,255,255,.8); }
.search-overlay .form-btn input:focus { background: transparent; outline: none; box-shadow: none; border-color:#ced4da; color: rgba(255,255,255,.8); }
.search-overlay .brd-left-none { border-left: none !important;}
.search-overlay .form-btn .form-control { border-right:none !important;}
.search-overlay .border-bottom { border: none; border-bottom: solid 1px #ced4da; border-radius: 0px;}
.search-overlay .form-btn input::placeholder { color: rgba(255,255,255,.8); font-weight: normal;}
.search-overlay button#button-submit:focus { outline: none; border: 0; box-shadow: none; }
.search-overlay button#button-submit {
    font-size: 24px;
}

/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    cursor: all-scroll;
    position: relative;
}
#banner-slide .img-slide {
    display: none;
}
#banner-slide .bg-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 498px;*/
    height: 77vh;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}
/* pagination */
#banner-slide ul.slick-dots {
    bottom: 25px;
}
#banner-slide ul.slick-dots li button:before,
#banner-slide ul.slick-dots li a.btn:before {
    color: #ffffff;
}

/*
 *  Animation line
 * ------------------------------------------------------------------------------
 */
/*
.animation-element {
    opacity: 0;
}
.animation-element.divLine {
    opacity: 1;
    width: 0;
    height: 3px;
    background: #860000;
    -webkit-animation: dude .75s 1 forwards;
    -moz-animation: dude .75s 1 forwards;
    -o-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
}
@-webkit-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
*/

/*
 *  Custom
 * ------------------------------------------------------------------------------
 */

/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* position */
.position-b-0 {
    bottom: 0 !important;
}
.position-t-5 {
     top: 5px;
}
.position-t-10 {
    top: 10px;
}

/* color */
.color-red {
    color: #ff0000 !important;
}
.color-red-dark {
    color: #860000 !important;
}
.color-gold {
    color: #f7ad40 !important;
}
.color-goldenrod {
    color: #daa520 !important;
}
.color-blue {
    color: #2193d1 !important;
}
.color-gray {
    color: rgba(255, 255, 255, 0.5) !important;
}
/* background */
.bg-black {
    background-color: #000000 !important;
}
.bg-black-70 {
    background-color: #151515 !important;
}
.bg-goldenrod {
    background-color: #daa520 !important;
}
/*.bg-gradient-gold {
    background-image: linear-gradient(
        90deg
        , #F38F1E 0%, #f7ad40 75%);
}*/

/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}
/* border radius */
.rounded-10 {
    border-radius: 10px;
}
/* second-brand */
a.second-brand {
    color: rgba(255,255,255,.8) !important;
    font-size: 1.25rem !important;
    line-height: 36px !important;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    display: block;
}
a.second-brand:hover {
    text-decoration: none !important;
}
a.second-brand .brand-image {
    width: auto;
    max-height: 50px;
}
a.second-brand .elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23) !important;
}
a.second-brand .brand-text {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}
.ad-img img {
    max-width: 100%;
    height: auto;
}

/*** img over
---------------------------------------------- ***/
.img-over a {
    position: relative;
    overflow: hidden;
    display: block;
}
.img-over a::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-over a:hover {
    box-shadow: 0 0 5px 5px #f8f9fa2b;
    border-radius: 10px;
}
.img-over a:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
/* animation */
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*** text over
---------------------------------------------- ***/
.text-over:hover {
    transition: all 0.35s ease;
    color: #f7ad40 !important;
}
.text-over:hover.gray {
    color: rgba(255, 255, 255, 0.5) !important;
}

/*** a over
---------------------------------------------- ***/
.a-over:hover {
    text-decoration: underline;
}

/*** button
---------------------------------------------- ***/
.btn {
    background-color: #f7ad40;
    background-image: linear-gradient(
        90deg
        , #F38F1E 0%, #f7ad40 75%);
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
/*** button over ***/
.btn-over a,
.btn-over button {
    position: relative;
    overflow: hidden;
    display: block;
}
.btn-over a::before,
.btn-over button::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
/*.btn-over a:hover,
.btn-over button:hover {
    box-shadow: 0px 0px 5px 5px #f8f9fa2b;
    border-radius: 10px;
}*/
.btn-over a:hover::before,
.btn-over button:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}
/* animation */
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*
 *  B-LAZY CSS
 * ------------------------------------------------------------------------------
 */
.img-wrap-lazy {
    background: #1a1a1a;
    padding-bottom: 54.7%;
    height: 0;
    overflow: hidden;
}
.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

/*** Bootstrap
---------------------------------------------- ***/
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    border: 0 !important
}
.card-horizontal .card-body {
    background-color: #0b1425;
    width: 70%;
}

/*
 *  Social Color
 * ------------------------------------------------------------------------------
 */
.telegram {
    color: #0088cc;
}
.line {
    color: #41d037;
}
.whatsapp {
    color: #25d366;
}
.skype {
    color: #00aff0;
}

/*
 *  Social icons
 * ------------------------------------------------------------------------------
 */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook {
    background-color: #3B5998;
}
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoTwitter {
    background-color: #33ccff;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle {
    background-color: #BD3518;
}
.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoTelegram {
    background-color: #0088cc;
}
.social-network a.icoTelegram:hover {
    background-color: #0088cc;
}
.social-network a.icoYoutube {
    background-color: #ff0000;
}
.social-network a.icoYoutube:hover {
    background-color: #ff0000;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTelegram:hover i,
.social-network a.icoYoutube:hover i {
    color: #ffffff;
}
a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    font-size: 18px !important;
}
.social-circle li i {
    margin: 0;
    line-height: 36px;
    text-align: center;
}
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
#footer {
    background: #000000;
    border-top: 2px solid #8b4513;
    display: block;
}
footer #paymentMethod i {
    font-size: 40px;
    color: #ffffff;
    padding: 0 2px;
}
footer #paymentMethod i.icon-img,
footer #paymentMethod i.icon-img img {
    width: auto;
    height: 40px;
}
footer .copy {
    background-color: #151515;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    header, header nav.navbar, header .navbar-brand img {
        height: 50px;
        background-color: #1a1a1a !important;
        background-image: none;
    }
    header .navbar-brand img {
        padding: 5px 0;
    }
    a.second-brand .brand-image {
        float: none;
        margin-top: 0;
        margin-right: 0;
    }
    .sideMenu {
        max-width: 35%;
        top: 0;
        background-color: #1c1c1c !important;
    }
    .sideMenu button.close {
        color: rgba(255,255,255,.8);
        outline: none;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: none;
    }
    #navbarsExampleDefault ul li {
        border-right: 0;
        border-bottom: 1px rgba(255,255,255,0.1) solid;
        padding: 10px 0;
    }
    #navbarsExampleDefault ul li a.nav-link {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        height: auto;
    }
    #navbarsExampleDefault ul li.active a.nav-link,
    #navbarsExampleDefault ul li:hover a.nav-link {
        color: #f7ad40;
    }
    #navbarsExampleDefault ul li.active,
    #navbarsExampleDefault ul li:hover {
        text-shadow: none;
    }
    .card-horizontal {
        display: block;
    }
    .card-horizontal .card-body {
        width: auto;
    }
    /* banner slide */
    #banner-slide .bg-slide {
        display: none;
    }
    #banner-slide .img-slide {
        display: block;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .sideMenu {
        max-width: 100%;
    }
    .btn {
        padding: 4px 8px !important;
        font-weight: 500 !important;
    }
    /* banner slide */
    #banner-slide ul.slick-dots {
        bottom: 10px;
    }
    #banner-slide .slick-dots li {
        margin: 0;
    }
    #banner-slide button.register,
    #banner-slide a.btn.register {
        font-size: 14px;
        line-height: 28px;
        padding: 3px 6px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Social icons */
    .social-circle li a {
        width: 30px;
        height: 30px;
        font-size: 16px !important;
    }
    .social-circle li i {
        line-height: 30px;
    }
    /* Payment method */
    footer #paymentMethod i {
        font-size: 30px;
    }
    footer #paymentMethod i.icon-img,
    footer #paymentMethod i.icon-img img {
        width: auto;
        height: 30px;
    }

}
