/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
/*
*  Football Slide
* ------------------------------------------------------------------------------
*/
#football-slide-wrap {
    background-image: url('../img/footballs/UEFA-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 160px;
}
#football-slide .slide {
    display: none;
}
#football-slide.slick-initialized .slide {
    display: block;
}
#football-slide .slide ul {
    height: 160px;
}
#football-slide .slide ul li img {
    width: auto;
    height: 50px;
}
#football-slide .slide ul li span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
#football-slide .slide ul li small {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    display: block;
    line-height: 5px;
}
#football-slide .slick-arrow {
    position: absolute;
    /* top: 45%;*/
    top: 0;
    z-index: 99;
    height: 160px;
}
#football-slide .slick-arrow.right {
    right: 15px;
}
#football-slide .slick-arrow.left {
    left: 15px;
    transform: rotate(180deg);
}
#football-slide .slick-arrow:hover {
    cursor: pointer;
}
#football-slide .slick-arrow:focus {
    outline: none;
}
#liveFootball button {
    background-color: transparent;
    border: 0;
}
#liveFootball button.btn,
#liveFootball a.btn {
    z-index: 99999;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    top: -21px;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
    /** football **/
    #football-slide .slide ul li,
    #football-slide .slide ul li img {
        height: 40px;
    }
    #liveFootball button.btn,
    #liveFootball a.btn {
        top: 0;
        font-size: 12px;
        line-height: 24px;
        padding: 3px 6px;
    }

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #liveFootball {
        margin-right: -15px;
        margin-left: -15px;
    }
    #football-slide .slick-arrow {
        display: none !important;
    }
}
