/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
.bg-calendar {
    /*background-color: #E2B659;*/
    /*background-color: #39003D;*/
    background-color: #39003de0;
}
.bg-match {
    /*background-color: #F9F871;*/
    /*background-color: #7B164A;*/
    background-color: #7b164ae0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.bg-match:last-child {
    border-bottom: 0;
}

.bg-calendar img {
    height: 40px;
}
.bg-match i {
    font-size: 40px;
    line-height: 40px;
}
.bg-match img {
    height: 50px;
}
.bg-match .fa-play-circle:hover {
    transition: all 0.35s ease;
    color: #ff0000 !important;
}
.football-club span {
    color: #ffffff;
}
.bg-match table tr td {
    text-align: center;
    vertical-align: middle;
    width: 10%;
}
.bg-match table tr td:first-child {
     text-align: right;
    width: 45%;
 }
.bg-match table tr td:last-child {
    text-align: left;
    width: 45%;
}

/*** live id ***/
.time-play i {
    font-size: 14px;
    line-height: 14px;
}
.time-play strong {
    font-size: 14px;
    animation: blink 1s steps(2, start) infinite;
}
.video-waiting {
    background-color: #000000;
    height: 500px;
}
.video-waiting p {
    font-size: 24px;
    text-align: center;
}
.video-waiting p span {
    font-weight: 700;
    animation: blink 1s steps(2, start) infinite;
}
.video-embed{
    /*height: 600px;*/
}
@keyframes blink {
    to { color: #ff0000; }
}

.text-stroke-white {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    .bg-calendar img {
        height: 30px;
    }
    .bg-match i {
        font-size: 30px;
        line-height: 30px;
    }
    .bg-match img {
        height: 36px;
    }
    /*** live id ***/
    .time-play i {
        font-size: 14px;
        line-height: 14px;
    }
}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {


}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    .bg-match i {
        font-size: 14px;
        line-height: 14px;
    }
    .bg-match img {
        height: 28px;
    }
    .bg-match i.fa-play-circle {
        font-size: 28px;
        line-height: 28px;
    }
    /*** live id ***/
    .time-play i {
        font-size: 14px;
        line-height: 14px;
    }
    .video-waiting p {
        font-size: 18px;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .football-club span, .calendar-play p {
        font-size: 12px;
    }
    /*** live id ***/
    .time-play strong {
        font-size: 12px;
    }
}
